<footer class="row copyright-footer">
  <div class="col-md-10 col-md-offset-2 col-md-pull-1 col-sm-12">
    <p class="terms">
      <%= t 'footer.copyright' %> |
      <%= link_to t('footer.privacy'), 'privacy_policy_path', target: '_blank' %> |
      <%= link_to t('footer.terms'), 'terms_of_service_path', target: '_blank' %> |
    </p>
  </div>
</footer>