<h1>Editar perfil de usuario</h1>

<%= render 'form', user_profile: @user_profile %>

<p class="pull-right">
  <%= link_to 'Perfil', @user_profile, class: 'btn btn-primary' %>
  <%= link_to 'Volver', user_profiles_path, class: 'btn btn-default' %>
  <br>
  <br>
</p>