<div class="col-sm-8 col-sm-offset-2">

  <h1>Editar perfil de usuario</h1>

  <%= render 'form', user_profile: @user_profile %>

  <div class="pull-right">
    <%= link_to 'Perfil', user_profile_path, class: 'btn btn-primary' %>
    <%= link_to 'Volver', user_profiles_path, class: 'btn btn-default' %>
  </div>
</div>