@import utilities

body
  background-color: #fff
  font-family: Arial
  letter-spacing: 0.5px
  h1, h2, h3, h4, h5, h6
    font-family: Arial
  .no-padding
    padding: 0

.btn
  padding: 10px 15px
  border-radius: 0

.toastr-messages
  display: none

.field_with_errors
  label
    color: red
  input
    border-color: red

#wrapper
  #sidebar-wrapper
    width: 50px
    .nav.sidebar-nav.full-text
      display: none
    .nav.sidebar-nav.icons-only
      display: block
    .nav > li > a
      .fa
        font-size: 20px
      &:focus, &:hover
        background-color: transparent
  .hamburger
    margin-left: 70px
    &.is-open
      margin-left: 20px
  &.toggled
    #sidebar-wrapper
      .nav.sidebar-nav.full-text
        display: block
      .nav.sidebar-nav.icons-only
        display: none